[Desktop Entry]
Name=Refractum
Comment=Rank Arch Linux and distro-specific pacman mirrors
Exec=refractum
Icon=io.github.Labaman.refractum
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=mirror;pacman;arch;reflector;mirrors;
